@model ExamenNet.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Ventas";
}


<div class="row">
    <div class="jumbotron relative text-center">
        <img class="logo" src="https://ii.ct-stc.com/5/logos/empresas/2016/06/13/clarika-sa-696001F7BFBFD153thumbnail.jpeg" alt="Logo CLARIKA" />
        <span>Exámen .NET</span>
    </div>
    <div class="jumbotron">
        Cliente <button type="button" class="btn btn-link" onclick="agregarClienteModal()">+agregar cliente</button>
        @Html.DropDownListFor(
            m => m.Clientes, 
            new SelectList(Model.Clientes, "ClienteID", "Nombre"),
             "",
              new { @class = "form-control", @onchange = "traerVentasCliente(this.value)" })
        <div>
            Ventas
            <div id="divVentas">
                
            </div>
            <div class="pull-right">
                Total: <span id="spnTotal"></span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="divModalAgregarCliente">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Agregar Cliente</h4>
            </div>
            <form class="form-horizontal" onsubmit="agregarCliente(event)">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nombre">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Fecha de Nacimiento</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="fechaNacimiento">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Telefono:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="telefono">
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts{
    <script>
        function agregarClienteModal() {
            $("#divModalAgregarCliente").modal("show");
        };

        function agregarCliente(e) {
            e.preventDefault();
            var cliente = {
                Nombre: $("#nombre").val(),
                FechaNacimiento: $("#fechaNacimiento").val(),
                Telefono: $("#telefono").val()
            };
            $.post("/api/Clientes", cliente)
                .done(function () {
                    alert("Se agregó el cliente con éxito");
                })
                .fail(function() {
                    alert("Ocurrió un error al procesar su solicitud");
                });
        };
    </script>
    <script id="theTmpl" type="text/x-jsrender">
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-right">Monto</th>
                </tr>
            </thead>
            <tbody>
                {{for #data}}
                <tr>
                    <td>{{:Producto}}</td>
                    <td class="text-center">{{:Cantidad}}</td>
                    <td class="text-right">{{:Monto}}</td>
                </tr>
                {{/for}}
            </tbody>
        </table>
    </script>
}